* {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: row;
}
.box-first,
.box-second {
    display: flex;
    flex-direction: column;
}
.box-first {
    flex: 1;
}
.box-second {
    flex: 3;
}
.box-second-child.row-first {
    flex: 1;
}
.box-second-child.row-second {
    flex: 6;
}
.box-first-child.row-first {
    flex: 1;
}
.box-first-child.row-second {
    flex: 1;
}
